.nav {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 1.4em;
}

.nav li {
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.nav li:hover {
  background-color: var(--main-theme);
}

.nav a {
  color: var(--white);
  transition: color 0.3s ease;
  text-decoration: none;
}

.nav li.active a {
  color: #c8a96e;
}

@media (max-width: 768px) {
  .nav {
    margin-top: 10px;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    font-size: 1rem;
  }

  .nav li {
    padding: 6px 10px;
  }
}
